test/fixtures/blueprints/launcher-blueprint/state-machines/launched-sends-heartbeat-to-parent.json
{
  "StartAt": "Start",
  "States": {
    "Start": {
      "Type": "Task",
      "Resource": "module:sendTaskHeartbeat",
      "Parameters": {
        "executionName.$": "$.launcher.executionName",
        "result": "STARTED"
      },
      "Next": "Pause"
    },
    "Pause": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "FlagParent"
    },
    "FlagParent": {
      "Type": "Task",
      "Resource": "module:sendTaskHeartbeat",
      "Parameters": {
        "executionName.$": "$.launcher.executionName",
        "result": "UPDATED"
      },
      "Next": "PauseAgain"
    },
    "PauseAgain": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "LastFlag"
    },
    "LastFlag": {
      "Type": "Task",
      "Resource": "module:sendTaskHeartbeat",
      "Parameters": {
        "executionName.$": "$.launcher.executionName",
        "result": "EXPIRED",
        "final": true
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
