test/fixtures/blueprints/launcher-blueprint/state-machines/launched-sends-result-to-parent.json
{
  "StartAt": "LongRunningTask",
  "States": {
    "LongRunningTask": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "Timestamp"
    },
    "Timestamp": {
      "Type": "Task",
      "Resource": "module:timestamp",
      "ResultPath": "$.timestamp",
      "Next": "FlagParent"
    },
    "FlagParent": {
      "Type": "Task",
      "Resource": "module:sendTaskSuccess",
      "Parameters": {
        "executionName.$": "$.launcher.executionName",
        "result.$": "$.timestamp"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
