test/fixtures/blueprints/wait-and-upsert-blueprint/state-machines/wait-and-upsert.json
{
  "StartAt": "Wait",
  "States": {
    "Wait": {
      "Type": "Wait",
      "Seconds": "1",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.person",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "people"
      },
      "ResultPath": null,
      "Next": "Finding"
    },
    "Finding": {
      "Type": "Task",
      "InputPath": "$.person",
      "Resource": "module:findingOne",
      "ResourceConfig": {
        "modelId": "people",
        "filter": {
          "where": {
            "employeeNo": {
              "equals": "$.employeeNo"
            }
          }
        }
      },
      "ResultPath": "$.upsertedPerson",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "$authenticated",
      "allows": [
        "*"
      ]
    }
  ]
}
